html
{
    background-color: black;
}
div
{
    margin: 0;
}
#img
{
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
  text-align: center;
  
}
img
{
    border: solid white;
    border-width: 20px 20px;
}
h1
{

    width: 50%;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin-left: 25%;
    text-align: center;
}
h2
{
    color: white;
    font-size: 15px;
    margin-left: 25%;
    width: 50%;
    text-align: center;


}